# 🔐 Secrets
.env

# 🐍 Python cache
__pycache__/
*.pyc
*.pyo

# 📦 Virtual environment
venv/
env/

# 🧪 Logs
*.log

# 🖥 OS files
.DS_Store
Thumbs.db

# 🧰 Editor files
.vscode/
.idea/

# 🐳 Docker
*.tar

# 🗃 Database dumps
*.json.bak
